.vscode/**
.vscode-test/**
src/**
node_modules/**
.gitignore
eslint.config.*
.oxfmtrc.json
tsconfig.json
vitest.config.ts
pnpm-lock.yaml
*.vsix
*.local/**
**/*.local.*
docs/**
*.md
!README.md
!CHANGELOG.md
!LICENSE
